extends layout

block content
  p
    a(class="button" href="books/new") Create New Book 
    //- Fix the href when I know where it is going!

  table
    thead
      tr 
        th Title 
        th Author 
        th Genre 
        th Year 
 
        for book in books 
          tr
            td 
              a(href=`books/${book.id}`) #{book.title}
            td #{book.author} 
            td #{book.genre}
            td #{book.year}
            //- This href adds the book id to the url, which we pick up in the route